<div id="career__main"  class="section-padding">
	<div fxLayout="column">
		<div flex="25%">
			<div fxLayout="row">
				<div fxFlex="20%">
					<ul>
						<li>Test 1</li>
						<li>Test 2</li>
					</ul>
				</div>
				<div fxFlex="20%">
					<ul>
						<li>Test A</li>
						<li>Test B</li>
					</ul>
				</div>
				<div fxFlex="20%">
					<ul>
						<li>Test MNO</li>
						<li>Test PQR</li>
					</ul>
				</div>
				<div fxFlex="20%">
					<ul>
						<li>Test 123</li>
						<li>Test 789</li>
					</ul>
				</div>
				<div fxFlex="20%">
					<ul>
						<li>Test ABC</li>
						<li>Test XYZ</li>
					</ul>
				</div>
			</div>
		</div>
		<div fxFlex="75%">
			<div fxLayout="row" fxLayoutAlign="space-around">
				<div class="text" fxFlex="33%">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin, massa at euismod volutpat, dui mauris iaculis
					lacus, vitae lobortis nunc dui eget nisi. Nam eu purus eget lorem finibus ultricies at a elit. Cras pharetra erat non
					pulvinar aliquam. Integer at commodo enim, non placerat ligula. Duis pharetra, orci sit amet pretium egestas, ligula
					metus dignissim ipsum, vel faucibus lectus erat sit amet lectus. Interdum et malesuada fames ac ante ipsum primis in
					faucibus. Fusce purus neque, lacinia et sagittis at, lacinia eget ante. Aenean sit amet faucibus massa. Aliquam et nisl
					condimentum, ultrices turpis ut, tristique sem. Curabitur euismod sodales sem, quis sollicitudin odio ullamcorper at.
					Integer a tincidunt lacus. Fusce lacinia quam ut arcu rutrum, ac imperdiet nisi malesuada. Fusce sodales vel risus sit
					amet elementum. Quisque tempor gravida leo id efficitur. Vivamus a consequat eros. Vestibulum vel mauris et massa convallis
					imperdiet. Morbi eu ullamcorper sapien. Phasellus a quam nec urna blandit laoreet sit amet ut odio. Sed vel tortor orci.
					Etiam vitae orci ac leo tincidunt imperdiet a sed diam. Quisque iaculis lorem sit amet mattis dignissim. Quisque vitae
					vehicula turpis, a eleifend nunc.
				</div>
				<div class="text" fxFlex="66%">
					Nullam at nisl ut turpis cursus maximus in ut quam. Praesent dignissim eget lacus vestibulum fermentum. Donec semper lobortis
					erat in rutrum. Morbi vel tortor ut risus cursus finibus nec non nisi. Nulla pellentesque purus sed laoreet euismod.
					Fusce sodales scelerisque tortor vitae posuere. Mauris porttitor ut turpis in gravida. Vivamus eu malesuada est. Maecenas
					lectus orci, pharetra at porttitor sit amet, feugiat non lorem. Etiam eget lacus id orci congue tristique sit amet quis
					massa. Phasellus gravida varius dolor, eget elementum odio scelerisque eu. Curabitur porta porttitor lacinia. Mauris
					vestibulum ligula arcu, quis pretium ex semper ut. Integer sed tortor in risus ultrices tristique id consectetur turpis.
					Nullam auctor auctor libero at scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
					inceptos himenaeos. Suspendisse sed turpis a odio efficitur suscipit. Nam luctus mi ipsum, at finibus nisi sollicitudin
					sed. Curabitur in tempor sem. Mauris volutpat risus sed elit hendrerit, eget viverra magna vehicula. Nulla convallis
					sem eu lacus posuere blandit. Integer vulputate vestibulum condimentum. Proin vehicula consequat efficitur. Donec ac
					massa magna. Aliquam vitae molestie purus. Sed lacus velit, semper ac fringilla nec, congue non enim. Donec quis libero
					vel magna aliquam tincidunt sed in justo. Pellentesque non gravida dolor. Proin et ultricies elit, et feugiat justo.
					Pellentesque egestas ac elit ac lacinia. Nulla rutrum sapien a mi luctus, iaculis dictum nisl semper. Curabitur vitae
					dolor augue. Suspendisse fermentum bibendum viverra. Cras venenatis urna et nibh gravida consequat.
				</div>
			</div>
		</div>
	</div>
</div>